<div class="card border-secondary text-center w-25 mx-auto mt-2">
  <div class="card-body">
    <div class="card-title">
      <h5 class="text-primary">
      <span class="fa fa-user"></span>
      <%= user.email %> (ID: <%= user.id %>)</h5>
    </div>
    <div class="card-header">
      Signed up: <%= time_ago_in_words(user.created_at) %> ago
    </div>
    <div class="card-text">
      <%='sign_in_count'.humanize + ":"%>
      <%= user.sign_in_count %> <br />
      <%='current_sign_in_at'.humanize + ":"%>
      <%= user.current_sign_in_at.strftime('%d-%b-%Y') if user.current_sign_in_at.present? %> <br />
      <%='last_sign_in_at'.humanize + ":"%>
      <%= user.last_sign_in_at.strftime('%d-%b-%Y') if user.last_sign_in_at.present? %> <br />
      <%='current_sign_in_ip'.humanize + ":"%>
      <%= user.current_sign_in_ip %> <br />
      <%= 'last_sign_in_ip'.humanize + ":"%>
      <%= user.last_sign_in_ip %>
    </div>
    <div class="card-footer">
      <b>
        <%= 'course_income'.humanize + ":" %>
        <%= user.course_income %>
      </b>
    </div>
    <div class="card-footer">
      <b>
        <%= 'enrollment_expences'.humanize + ":" %>
        <%= user.enrollment_expences %>
      </b>
    </div>
    <div class="card-footer">
      <b>
        <%= 'balance'.humanize + ":" %>
        <%= user.balance %>
      </b>
    </div>
    <div class="card-footer">
      <div class="fa fa-plus"></div>
      <div class="fa fa-graduation-cap"></div>
      Courses created: <%= user.courses_count %>
      <br />
      <div class="fa fa-lock-open"></div>
      Enrollments: <%= user.enrollments_count %>
      <br />
      <div class="fa fa-comment"></div>
      Comments: <%= user.comments_count %>
      <br />
      <div class="fa fa-eye"></div>
      Lessons viewed: <%= user.user_lessons_count %>
    </div>
    <div class="card-text mt-3 mb-3">
      <% user.roles.each do |role| %>
        <span class="badge bg-<%= style_role(role.name).to_s %>">
          <%= role.name %>
        </span>
      <% end %>
      <% if policy(user).edit? %>
        <%= link_to 'Edit Role', edit_user_path(user), class: 'btn btn-sm btn-warning float-end' %>
      <% end %>
    </div>
    <div class="card-footer">
      Confirmed email?
      <% if user.confirmed_at.present? %>
        <div class="badge bg-success">Yes</div>
      <% else %>
        <div class="badge bg-danger">No</div>
      <% end %>
      <br />
      <%='confirmed_at'.humanize + ":"%>
      <%= user.confirmed_at.strftime('%d-%b-%Y') if user.confirmed_at.present? %> <br />
    </div>
  </div>
</div>
<br />
