<% content_for :title do %>
  Website \ Edit roles for <%= @user.username %>
<% end %>

<div class="card border-secondary text-center w-50 mx-auto">
  <div class="card-body">
    <h5 class="card-header text-primary">
      Editing roles for
      <%= @user.email %>
    </h5>
  </div>
  <div class="card-text">
    <%= simple_form_for @user do |f|  %>
      <%= f.collection_check_boxes :role_ids, Role.all, :id, :name do |b| %>
        <div class="form-check form-switch">
          <%= b.label class: 'form-check-label' do %>
            <%= b.check_box class: 'form-check-input' %>
            <%= b.text %>
          <% end %>
        </div>
      <% end %>
      <%= f.hint 'At least one role must be selected.' %>
      <%# the error message is not working %>
      <%#= f.error :roles, class: 'text-danger', wrap_with: { tag: 'div' } %>
      <hr/>
      <%= f.button :submit, class: "btn btn-success mb-2"  %>
      <%#= f.submit 'Save', class: "btn btn-success mb-2" %>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to 'Cancel', users_path, class: 'btn btn-info' %>
  </div>
  <div class="card-footer">
    <%= button_to "Delete this user", @user, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger", form: {style: 'display:inline-block;'} %>
  </div>
</div>
