<div class="container">
  <h1>Users: <%= @users.count %></h1><br />

  <div class="form-inline">
    <%= search_form_for @ransack_users do |form| %>
      <%= form.search_field :email_cont, placeholder: 'email' %>
      <%= form.search_field :sign_in_count_eq, placeholder: 'sign in count' %>
      <%= form.search_field :email_or_sign_in_count_eq, placeholder: 'email or sign in count' %>
      <%= form.submit "Search", class: "btn btn-primary" %>
      <%= link_to "Reset", users_path, class: "btn btn-secondary" %>
    <% end %>
  </div>
  <br />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= sort_link(@ransack_users, :id, 'ID') %></th>
        <th><%= sort_link(@ransack_users, :email, 'Email') %></th>
        <th><%= sort_link(@ransack_users, :created_at, 'Created at') %></th>
        <th><%= sort_link(@ransack_users, :sign_in_count, 'Sign in count') %></th>
        <th><%= sort_link(@ransack_users, :current_sign_in_at, 'Current sign in at') %></th>
        <th><%= sort_link(@ransack_users, :last_sign_in_at, 'Last sign in at') %></th>
        <th><%= sort_link(@ransack_users, :current_sign_in_ip, 'Current sign in ip') %></th>
        <th><%= sort_link(@ransack_users, :last_sign_in_ip, 'Last sign in ip') %></th>
        <th><%= sort_link(@ransack_users, :roles, 'Roles') %></th>
        <th>Edit roles</th>
      </tr>
      <!--<th><%= 'sign_in_count'.humanize %></th>
      <th><%= 'current_sign_in_at'.humanize %></th>
      <th><%= 'last_sign_in_at'.humanize %></th>
      <th><%= 'current_sign_in_ip'.humanize %></th>
      <th><%= 'last_sign_in_ip'.humanize %></th>
    </tr>-->
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.current_sign_in_at %></td>
          <td><%= user.last_sign_in_at %></td>
          <td><%= user.current_sign_in_ip %></td>
          <td><%= user.last_sign_in_ip %></td>
          <td><%= user.roles.map(&:name).join(', ') %></td>
          <!--<td><%= user.roles.each do |role| %>
            <%= role.name %>
            <% end %> </td>
            role.each(&:name)
            rold.each { |r| r.name}
            -->
          <td><%= link_to '>>', edit_user_path(user), class: 'btn btn-warning' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%# <div class="card-columns"> %>
  <%# @users.each do |user| %>
    <%#= render "users/user", user: user %>
    <%# end %>
    <%# </div> %>
  </div>
