<% content_for :title do %>
  Website | Activity
<% end %>

<h1>Activity: <%= @activities.count %></h1>
<br />

<ul class="list-group">
  <% @activities.each do |activity| %>
    <li class="list-group-item">
      (<%= activity.id  %>)
      <span  class="text-danger">The user: </span>
      <%= activity.owner %>
      <span  class="text-warning">took this action =></span>
      <span  class="text-light bg-dark"><%= activity.key %></span>
      <span  class="text-info"> on this object</span>
      <span  class="text-light bg-dark">
      <%= activity.trackable_type %>
      <%= activity.trackable_id %>
      </span>
      <span  class="text-warning"> with these parameters</span>
      <span  class="text-light bg-dark"><%= activity.parameters  %></span>
      <span  class="text-danger">at </span>
      <% if activity.trackable_type == "Lesson" %>
        <%= activity.trackable_type %> was deleted
      <% else %>
        <%= link_to activity.trackable %>
      <% end %>
    </li>
  <% end %>
</ul>

<br /><br />

