<% content_for :title do %>
  Website | Activity
<% end %>

<h1>Activity: <%= @activities.count %></h1>
<br />

<ul class="list-group">
  <% @activities.each do |activity| %>
    <li class="list-group-item">
      (<%= activity.id  %>)
      <span  class="text-info">On <%= "#{activity.created_at.strftime('%d-%m-%Y %H:%m')}" %> </span>
      <span  class="text-primary"><%= "(#{time_ago_in_words(activity.created_at)})," %></span>
      <span  class="text-danger"> the user: </span>
      <%= link_to activity.owner, user_path(activity.owner) %>
      <span  class="text-warning">took this action =></span>
      <span  class="text-light bg-dark"><%= activity.key %></span>
      <span  class="text-info"> on this object</span>
      <span  class="text-light bg-dark">
        <%= activity.trackable_type %>
        <%= activity.trackable_id %>
      </span>
      <% if activity.parameters.any? %>
        <span  class="text-warning"> with these parameters</span>
        <span  class="text-light bg-dark"><%= activity.parameters %></span>
        <span  class="text-danger">at </span>
        <% if activity.trackable_type == "Lesson" %>
          <% if Lesson.where(id: activity.trackable_id).present? %>
            <%= link_to activity.trackable, course_lesson_path(activity.trackable.course, activity.trackable) %>
          <% else %>
            Lesson was deleted
          <% end %>
        <% else %>
          <%= link_to activity.trackable, activity.trackable %>
        <% end %>
      <% end %>
      </li>
    <% end %>
  </ul>
  <%= raw(pagy_bootstrap_nav(@pagy)) %>

  <br />
  <br />
