<% content_for :title do %>
  Website | Home Page - the best place to bla bla bla
<% end %>

<div class="container">
  <div class="jumbotron">
    <div class="display-4">
      What do you want to learn today?
    </div>
  </div>
  <div class="p-4">
  </div>
  <% if user_signed_in? %>
    <%= search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f| %>
      <div class="input-group">
        <%= f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off  %>
        <%= f.submit 'Search', class: 'btn btn-primary btn-sm' %>
      </div>
    <% end %>
  <% end %>
  <br />
  <hr />
  <div class="card-group">
    <% if user_signed_in? %>
      <div class="card card-body">
        Students Links:
        <ul>
          <li><%= link_to "Purchased Courses (#{current_user.enrollments_count})", purchased_courses_path %></li>
          <li><%= link_to "Pending Review Courses (#{current_user.enrollments.pending_review.count})", pending_review_courses_path %></li>
        </ul>
      </div>
    <div class="card card-body">
      Teachers Links:
      <ul>
        <li><%= link_to 'New Course >>', new_course_path %></li>
        <li><%= link_to "Created Courses (#{current_user.courses_count})", created_courses_path %></li>
        <li><%= link_to "My Students (#{Enrollment.joins(:course).where(courses: {user: current_user}).count})", my_students_enrollments_path %></li>
      </ul>
    </div>
    <% end %>
    <div class="card card-body">
      Statistics:
      <ul>
        <li><%= link_to "All Courses (#{Course.count})", courses_path %></li>
        <li><%= link_to "All Students (#{User.count})", users_path %></li>
      </ul>
    </div>
  </div>
  <% if user_signed_in? %>
    <hr/>
    <h2>Continue Learning</h2>
    <div class="card-group">
      <% @purchased_courses.each do |course| %>
        <%= render 'courses/course_breif', course: course %>
      <% end %>
    </div>
  <% end %>
  <hr/>
  <h2>Popular courses</h2>
  <div class="card-group">
    <% @popular.each do |course| %>
      <%= render 'courses/course_breif', course: course %>
    <% end %>
  </div>
  <hr/>
  <h2>Top rated courses</h2>
  <div class="card-group">
    <% @top_rated.each do |course| %>
      <%= render 'courses/course_breif', course: course %>
    <% end %>
  </div>
  <hr/>
  <h2>Latest courses</h2>
  <div class="card-group">
    <% @latest.each do |course| %>
      <%= render 'courses/course_breif', course: course %>
    <% end %>
  </div>
  <hr/>
  <h2>Latest Highest Reviews</h2>
  <div class="card-group">
    <% @latest_good_reviews.each do |enrollment| %>
      <%= render 'enrollments/enrollment', enrollment: enrollment %>
    <% end %>
  </div>
  <br />
  <br />

</div>
