<% content_for :title do %>
  Website | Home Page - the best place to bla bla bla
<% end %>

<div class="container">
  <div class="jumbotron">
    <div class="display-4">
      What do you want to learn today?
    </div>
  </div>
  <div class="p-4">
  </div>
  <% if user_signed_in? %>
    <%= search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f| %>
      <div class="input-group">
        <%= f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off  %>
        <%= f.submit 'Search', class: 'btn btn-primary btn-sm' %>
      </div>
    <% end %>
    <br />
    <hr />
  <% end %>
  <div class="card-group">
    <% if user_signed_in? %>
      <div class="card card-body">
        Students Links:
        <ul>
          <li><%= link_to "Purchased Courses <div class=\"badge bg-primary\">#{current_user.enrollments_count}</div>".html_safe, purchased_courses_path %></li>
          <li><%= link_to "Pending Review Courses <div class=\"badge bg-warning\">#{current_user.enrollments.pending_review.count}</div>".html_safe, pending_review_courses_path %></li>
        </ul>
      </div>
      <div class="card card-body">
        Teachers Links:
        <ul>
          <li><%= link_to 'New Course >>', new_course_path %></li>
          <li><%= link_to "Created Courses <div class=\"badge bg-secondary\">#{current_user.courses_count}</div>".html_safe, created_courses_path %></li>
          <li><%= link_to "My Students <div class=\"badge bg-secondary\">#{Enrollment.joins(:course).where(courses: {user: current_user}).count}</div>".html_safe, my_students_enrollments_path %></li>
        </ul>
      </div>
      <% if user_signed_in? && current_user.has_role?(:admin) %>
        <div class="card card-body">
          Admin Links:
          <ul>
            <li><div class="fa fa-bell"></div><%= link_to " Activity", activity_path %> </li>
            <li><div class="fa fa-chart-line"></div><%= link_to " Analytics", analytics_path %> </li>
            <li><div class="fa fa-lock-open"></div> <%= link_to "Unpublished Courses <div class=\"badge bg-warning\">#{Course.unpublished.count}</div>".html_safe, unpublished_courses_path %> </li>
            <li><div class="fa fa-lock-open"></div> <%= link_to "Unapproved Courses <div class=\"badge bg-danger\">#{Course.unapproved.count}</div>".html_safe, unapproved_courses_path %> </li>
            <li><div class="fa fa-graduation-cap"></div> <%= link_to "Index Admin", index_admin_courses_path %> </li>
            <li><div class="fa fa-user-secret"></div> <%= Rails.application.credentials.dig(:development, :key_test) %></li>
            <li><div class="fa fa-tags"></div><%= link_to " Tags", tags_path %></li>
          </ul>
        </div>
      <% end %>
    <% end %>
    <div class="card card-body">
      Statistics:
      <ul>
        <li><%= link_to "All Courses <div class=\"badge bg-info\">#{Course.approved.published.count}</div>".html_safe, courses_path %></li>
        <li><%= link_to "All Students <div class=\"badge bg-info\">#{User.count}</div>".html_safe, users_path %></li>
      </ul>
    </div>
  </div>
  <% if user_signed_in? %>
    <hr/>
    <h2>Continue Learning</h2>
    <div class="card-group">
      <% @purchased_courses.each do |course| %>
        <%= render 'courses/course_breif', course: course %>
      <% end %>
    </div>
    <div class="text-end">
      <%= link_to "See all", purchased_courses_path %>
    </div>
  <% end %>
  <hr/>
  <h2>Most popular tags</h2>
  <div class="card-group">
    <% @popular_tags.each do |tag| %>
      <%= link_to courses_path(courses_search: {course_tags_tag_id_eq: tag.id}) do %>
        <span class="badge bg-info mx-2"><%= tag.name %>
        <span class="badge bg-dark"><%= tag.course_tags_count %></span>
        </span>
      <% end %>
    <% end %>
  </div>
  <hr/>
  <h2>Popular courses</h2>
  <div class="card-group">
    <% @popular.each do |course| %>
      <%= render 'courses/course_breif', course: course %>
    <% end %>
  </div>
  <div class="text-end">
    <%= link_to "See all", courses_path(courses_search: {s: 'enrollments_count desc'}) %>
  </div>
  <hr/>
  <h2>Top rated courses</h2>
  <div class="card-group">
    <% @top_rated.each do |course| %>
      <%= render 'courses/course_breif', course: course %>
    <% end %>
  </div>
  <div class="text-end">
    <%= link_to "See all", courses_path(courses_search: {s: 'average_rating desc'}) %>
  </div>
  <hr/>
  <h2>Latest courses</h2>
  <div class="card-group">
    <% @latest.each do |course| %>
      <%= render 'courses/course_breif', course: course %>
    <% end %>
  </div>
    <div class="text-end">
      <%= link_to "See all", courses_path(courses_search: {s: 'created_at desc'}) %>
    </div>
  <hr/>
  <h2>Latest Highest Reviews</h2>
  <div class="card-group">
    <% @latest_good_reviews.each do |enrollment| %>
      <%= render 'enrollments/enrollment', enrollment: enrollment %>
    <% end %>
  </div>
  <br />
  <br />

</div>
