<div class="card border-secondary">
  <div class="card-footer">
    <%= comment.user.username %>:
  </div>

  <div class="card-header">
    <%= comment.created_at.strftime('%d-%m-%Y %H:%m') %> (<%= time_ago_in_words(comment.created_at) %>)
    by
    <%= link_to comment.user, user_path(comment.user) %>
    <%= button_to [@course, @lesson, comment], method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do %>
      <div class="fa fa-trash"></div>
    <% end %>
  </div>

  <div class="card-body">
    <%= comment.content %>
  </div>
  <div class="card-footer">
    <%= comment.created_at.strftime("%d/%m/%Y %H:%M") %>
  </div>
</div>
<br />
