<div class="card border-secondary text-center w-75 mx-auto mt-2">
  <div class="card-header">
    <%= link_to enrollment.user.username, user_path(enrollment.user) %>
    <%= time_ago_in_words(enrollment.updated_at) %>
    <%= link_to enrollment.course, course_path(enrollment.course) %>
  </div>
  <div class="card-body">
    <b>
      <%= enrollment.rating %>
    </b>
    <small>
      <%= enrollment.review %>
    </small>
  </div>
  <% if current_user %>
    <div class="card-footer">
      <% if policy(enrollment).edit? %>
        <%= link_to 'Edit Review', edit_enrollment_path(enrollment), class: "btn btn-primary" %>
        <%= link_to 'Delete Review', enrollment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>



