<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Course:</strong>
    <%= enrollment.course_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= enrollment.user_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= enrollment.rating %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= enrollment.review %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= enrollment.price %>
  </p>

</div>
