<% content_for :title do %> Website | All Enrollments <% end %>

<div class="container">
  <h1>Enrollments: <%= @enrollments.count %></h1>
  <br />

<div class="table-responsive">
  <table class="table table-bordered table-striped table-sm">
    <thead>
      <tr>
        <th>Course</th>
        <th>User</th>
        <th>Rating</th>
        <th>Review</th>
        <th>Price</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @enrollments.each do |enrollment| %>
        <tr>
          <td><%= enrollment.course %></td>
          <td><%= enrollment.user %></td>
          <td><%= enrollment.rating %></td>
          <td><%= enrollment.review %></td>
          <td><%= number_to_currency(enrollment.price) %></td>
          <td><%= link_to 'Show', enrollment %></td>
          <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
          <td><%= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br/>

<%= link_to "New enrollment", new_enrollment_path %>

<!--
<div id="enrollments">
  <% @enrollments.each do |enrollment| %>
    <%= render enrollment %>
    <p>
      <%= link_to "Show this enrollment", enrollment %>
    </p>
  <% end %>
</div>
-->
