<% content_for :title do %> Website | All Enrollments <% end %>

<div class="container">
  <h1>Enrollments: <%= @enrollments.count %></h1>
  <br />

<div class="table-responsive">
  <table class="table table-bordered table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Bought</th>
        <th>Course</th>
        <th>Price</th>
        <th>Reviewed at</th>
        <th>Rating</th>
        <th>Review</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @enrollments.each do |enrollment| %>
        <tr>
          <td><%= enrollment.id %></td>
          <td><%= link_to enrollment.user, user_path(enrollment.user) %></td>
          <td><%= enrollment.created_at.strftime("%d/%b/%Y, %H:%M") %></td>
          <td><%= link_to enrollment.course, course_path(enrollment.course) %></td>
          <td><%= number_to_currency(enrollment.price) %></td>
          <td><% if enrollment.rating.present? %> <%= enrollment.updated_at.strftime("%d/%b/%Y, %H:%M") %> <% end %></td>
          <td><%= enrollment.rating %></td>
          <td><%= enrollment.review %></td>
          <td><%= link_to 'See Review', enrollment %></td>
          <td><%= link_to 'Add Review', edit_enrollment_path(enrollment) %></td>
          <td><%= link_to 'Delete Enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br/>

<!--
<div id="enrollments">
  <% @enrollments.each do |enrollment| %>
    <%= render enrollment %>
    <p>
      <%= link_to "Show this enrollment", enrollment %>
    </p>
  <% end %>
</div>
-->
