<% content_for :title do %> Website | New Enrollment <% end %>

<div class="card">
  <div class="card-header">
    <h3>New Enrollment for <%= link_to @course.title, course_path(@course) %></h3>
  </div>
  <div class="card-body">
    <%#= render 'form' %>
    <%#= render "form", enrollment: @enrollment %>
    <%= form_tag course_enrollments_path(@course) do %>

      <div class="fa fa-lock-open"></div>
      Buy course: <%= number_to_currency @course.price %>
      <div class="card-body">
        <% if @course.price > 0 %>
          <%= form_tag course_enrollments_path(@course) do %>
            <%= submit_tag "Pay #{number_to_currency @course.price}", class: "btn btn-warning" %>
            <!--<script class="stripe-button" data-amount="< (@course.price * 100).to_i %>" data-description="<%= @course.title %> (<%= number_to_currency @course.price %>)" data-email="<%= current_user.email %>" data-key="< Rails.application.credentials[Rails.env.to_sym][:stripe][:publishable] %>" data-locale="auto" src="https://checkout.stripe.com/checkout.js"></script>-->
            <% end %>
        <% else %>
          <%= form_tag course_enrollments_path(@course) do %>
            <%= submit_tag "Enroll for free!", class: 'btn btn-lg btn-success' %>
        <% end %>
    <% end %>
</div>

    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to 'Back', course_path(@course), class: "btn btn-primary" %>
  </div>
</div>
