<%= simple_form_for(@tag) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="form-group mb-3">
      <%= f.input :name %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-warning" %>
    </div>
  </div>
<% end %>

