<%#= lesson.viewed(current_user) ? "\u{2705}" : "\u274C" %>
<%#= link_to lesson.title, course_lesson_path(@course, lesson) %>

<% if current_user %>
  <% if lesson.course.bought(current_user) || @course.user == current_user %>
    <% if lesson.viewed(current_user) == true %>
      <div class="text-success fa fa-check-square"></div>
    <% else %>
      <div class="text-danger fa fa-check-square"></div>
    <% end %>
  <% else %>
    <div class="fa fa-check-square"></div>
  <% end %>
  <div data-controller="sortable" >
  <%= link_to course_lesson_path(@course, lesson) do  %>
    <%= '('+(lesson.position_rank+1).to_s + ') ' unless lesson.position.nil? %>
    <%= lesson.title %>
  <% end %>
  </div>

<% else %>
  <div data-controller="sortable" >
    <div class="fa fa-check-square"></div>
    <%= link_to course_lesson_path(@course, lesson) do %>
      <%#= lesson.position %>
      <%= '('+(lesson.position_rank+1).to_s + ') ' unless lesson.position.nil? %>
      <%= lesson.title %>
    <% end %>
  </div>
<% end %>
