<% content_for :title do %>
  Website \ Course <%= @course.title %> \ Editing lesson <%= @lesson.title %>
<% end %>

<h4>
<%= link_to 'Courses', courses_path %> \
<%= link_to @lesson.course.title, course_path(@lesson.course) %> \
<%= link_to @lesson.title, course_lesson_path(@course, @lesson) %> \
Edit Lesson
</h4>
<br />
<br />

<div class="card">
  <div class="card-header">
    <h1>Editing lesson</h1>
  </div>
  <div class="card-body">
    <%= render "form", lesson: @lesson %>
  </div>
  <div class="card-footer text-center">
    <%= link_to "Show this lesson", course_lesson_path(@lesson.course_id, @lesson), class: "btn btn-primary" %> |
    <%= link_to "Back to the course", course_path(@course), class: "btn btn-secondary" %>
  </div>
</div>
