<% controller.redirect_to courses_path %>

<!--<h1>Lessons: <%= @lessons.count %></h1>

<div class="d-flex-table p-2 justify-content-center">
  <%= search_form_for @ransack_lessons, as: :lessons_search, url: course_lessons_path do |form| %>
    <%= form.search_field :title_cont, placeholder: "Title" %>
    <%= form.search_field :content_cont, placeholder: "Content" %>
    <%= form.submit "Search", class: "btn btn-primary" %>
    <%= link_to "Reset", course_lessons_path, class: "btn btn-secondary" %>
  <% end %>
</div>

<br />
<br />
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= sort_link(@ransack_lessons, :id, 'ID') %></th>
      <th><%= sort_link(@ransack_lessons, :title, 'Title') %></th>
      <th><%= sort_link(@ransack_lessons, :content, 'Content') %></th>
      <th><%= sort_link(@ransack_lessons, :course_id, 'Course') %></th>
      <th><%= sort_link(@ransack_lessons, :created_at, 'Created at') %></th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.id %></td>
        <td><%= lesson.title %></td>
        <td><%= lesson.content %></td>
        <td><%= lesson.course %></td>
        <td><%= lesson.created_at.strftime('%d-%b-%Y') %></td>
        <td><%= link_to '>>', course_lesson_path(lesson.course_id, lesson), class: 'btn btn-sm btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
-->
