<% content_for :title do %>
  Website \ Course <%= @course.title %> \ New lesson
<% end %>

<h4>
<%= link_to 'Courses', courses_path %> \
<%= link_to @course.title, course_path(@course) %> \
New Lesson
</h4>
<br />
<br />

<div class="card">
  <div class="card-header">
    <h1>New lesson</h1>
  </div>
  <div class="card-body">
    <%= render "form", lesson: @lesson %>
  </div>
  <div class="card-footer text-center">
    <%= link_to "Back to lessons", course_path(@course), class: "btn btn-primary" %>
  </div>
</div>
