<% content_for :title do %>
  Website \ Course <%= @course.title %> \ Lesson <%= @lesson.title %>
<% end %>

<h4><%= link_to 'Courses', courses_path, class: 'text-decoration-none' %> \
  <%= link_to @lesson.course.title, course_path(@lesson.course), class: 'text-decoration-none' %> \
  <%= @lesson.title %></h4>

<div class="row">
  <div class="col-lg-8">
    <%= render 'lessons/lesson', lesson: @lesson %>
    <p></p>
  </div>
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to course_path(@lesson.course) do %>
          <div class="fa fa-graduation-cap"></div>
          <%= @lesson.course.title %>
        <% end %>
        <div class="row"></div>
        <div class="fa fa-spinner"></div>
        <%= number_to_percentage(@course.progress(current_user), precision: 0) %>
      </li>
      <%#= @lesson.user_lessons.where(user: current_user).first.impressions %>
      <% @lessons.each do |lesson| %>
        <% if @lesson.present? && lesson == @lesson %>
          <li class="list-group-item list-group-item-success">
            <%= render 'lessons/lesson_preview', lesson: lesson %>
          </li>
        <% else %>
          <li class="list-group-item">
            <%= render 'lessons/lesson_preview', lesson: lesson %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<hr/>

<div class="card border-secondary text-center w-75 mx-auto mt-2">
  <div class="card-body">
    <div class="card-title">
      <h5 class="text-primary"><span class="fa fa-comment"></span> All comments</h5>
      <h6 class="card-header text-secondary"><%= pluralize(@comments.count, 'Comment') %></h6>
    </div>
    <div class="card-text">
      <% @comments.each do |comment| %>
        <%= render 'lessons/comments/comment', comment: comment %>
      <% end %>
    </div>
    <div class="card-footer">
      New comment:
      <%= render 'lessons/comments/form' %>
    </div>
  </div>
</div>
