<div class="card border-secondary text-center w-50 mx-auto mt-2">
  <div class="card-body">
    <div class="card-title">
    <h5 class="text-primary"><%= course.title %></h5>
      <h6 class="card-header text-secondary"><%= course.lessons.count %> lesson(s) </h6>
    </div>
    <div class="card-text">
      <%= simple_format(course.short_description) %>
    </div>
    <div class="card-footer">
      By: <%= course.user.username %> |
      Price: <%= number_to_currency(course.price) %> |
      Language: <%= course.language %> |
      Level: <%= course.level %> |
      <%= course.created_at.strftime('%d-%b-%Y') %>
      </div>
  </div>
</div>
