<div class="card border-secondary text-center w-100 mx-auto mt-2">
  <div class="card-body">
    <div class="card-title">
      <h5 class="text-primary"><%= course.title %></h5>
      <h6 class="card-header text-secondary"><%= pluralize(@course.lessons_count, 'Lesson') %></h6>
    </div>
    <div class="card-text">
      <%= simple_format(course.short_description) %>
    </div>
    <div class="card-footer">
      By: <%= link_to course.user.username, user_path(course.user) %> |
      Price: <%= number_to_currency(course.price) %> |
      Language: <%= course.language %> |
      Level: <%= course.level %> |
      <%= course.created_at.strftime('%d-%b-%Y') %>
    </div>
    <div class="card-footer">
      <%= enrollments_button(course) %>
    </div>
    <div class="card-footer">
      Enrolled: <%= course.enrollments_count %> |
      <%#= course.enrollments.count %>
      Lessons: <%= course.lessons_count %> |
      Rating: <%= course.average_rating %>
    </div>
    <% unless review_button(course) == nil %>
      <div class="card-footer">
        <%= review_button(course) %>
      </div>
    <% end %>
    <% if current_user %>
      <% if policy(course).destroy? %>
        <div class="card-footer">
          <% if policy(course).owner? %>
            <%= link_to 'Add lesson', new_course_lesson_path(course, @lesson), class: 'btn btn-primary btn-sm' %>
          <% end %>
          <% if policy(course).edit? %>
            <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning' %>
          <% end %>
          <% if policy(course).destroy? %>
            <%= button_to 'Delete', course, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-danger", form: {style: 'display:inline-block;'} %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% if policy(@course).destroy? %>
      <div class="card-footer">
        <% if course.published? %>
          <div class="badge bg-success">published</div>
        <% else %>
          <div class="badge bg-danger">unpublished</div>
        <% end %>
        <% if course.approved? %>
          <div class="badge bg-success">approved</div>
        <% else %>
          <div class="badge bg-danger">unapproved</div>
        <% end %>
      </div>
    <% end %>
    <% if policy(@course).approve? %>
      <div class="card-footer">
        <% if course.approved? %>
          <%= link_to 'unapprove', unapprove_course_path(@course), method: :patch, class: 'btn btn-sm btn-danger' %>
        <% else %>
          <%= link_to 'approve', approve_course_path(@course), method: :patch, class: 'btn btn-sm btn-success' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
