<div class="card border-secondary text-center w-100 mx-auto mt-2">
  <div class="card-body">
    <div class="card-title">
      <h5 class="text-primary"><%= course.title %></h5>
      <h6 class="card-header text-secondary"><%= course.lessons.count %> lesson(s) </h6>
    </div>
    <div class="card-text">
      <%= simple_format(course.short_description) %>
    </div>
    <div class="card-footer">
      By: <%= link_to course.user.username, user_path(course.user) %> |
      Price: <%= number_to_currency(course.price) %> |
      Language: <%= course.language %> |
      Level: <%= course.level %> |
      <%= course.created_at.strftime('%d-%b-%Y') %>
    </div>
    <div class="card-footer">
      <%= enrollments_button(course) %>
    </div>
    <div class="card-footer">
      <%= course.average_rating %>
    </div>
    <div class="card-footer">
      <%= review_button(course) %>
    </div>
    <% if policy(@course).edit? %>
      <div class="card-footer">
        <%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-sm btn-warning' %>
      </div>
    <% end %>
    <% if policy(@course).destroy? %>
      <div class="card-footer">
        <%= button_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
