<%= simple_form_for(@course) do |form| %>
  <div class="d-grid gap-2 mt-3">
    <%= form.error_notification %>
    <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

    <%= form.input :title %>
    <%= form.label :avatar %>
    <% if @course.avatar.attached? %>
      <%= image_tag @course.avatar, class: "img-fluid", width: "200px" %>
    <% end %>
    <%= form.file_field :avatar, class: "form-control" %>
    <%= form.label :description %>
    <%= form.rich_text_area :description, input_html: { minlength: 5, maxlength: 1000 } %>
    <small><%= form.error :description, class: 'text-danger' %></small>
    <%= form.label :short_description %>
    <%= form.rich_text_area :short_description %>
    <small><%= form.error :short_description, class: 'text-danger' %></small>
    <%= form.label :language %>
    <%= form.collection_select :language, Course.languages, :to_s, :to_s, include_blank: true, class: "form-control" %>
    <small><%= form.error :language, class: 'text-danger' %></small>
    <%= form.label :level %>
    <%= form.collection_select :level, Course.levels, :to_s, :to_s, include_blank: true, class: "form-control" %>
    <small><%= form.error :level, class: 'text-danger' %></small>
    <%= form.label :price %>
    <%= form.number_field :price, class: "form-control", min: 0, max: 1000, step: 0.01 %>
    <small><%= form.error :price, class: 'text-danger' %></small>
    <%= form.input :published, as: :boolean, label: "Publish" %>
    <%= form.button :submit, class: "btn btn-primary ax-2" %>
  </div>
<% end %>
