<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :short_description, style: "display: block" %>
    <%= form.text_area :short_description %>
  </div>

  <div>
    <%= form.label :language, style: "display: block" %>
    <%#= form.collection_select :language, [ "English", "Polish", "Russian"], :to_s, :to_s %>
    <%= form.collection_select :language, Course.languages, :to_s, :to_s, include_blank: true %>
  </div>

  <div>
    <%= form.label :level, style: "display: block" %>
    <%#= form.text_field :level %>
    <%= form.collection_select :level, Course.levels, :to_s, :to_s, include_blank: true %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
