<%= simple_form_for(@course) do |form| %>
  <div class="d-grid gap-2 mt-3">
    <%= form.error_notification %>
    <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

    <%= form.input :title, input_html: { autocomplete: "off" } %>
    <%= form.button :submit, class: "btn btn-primary ax-2" %>
  </div>
<% end %>
