<% content_for :title do %>
  Website | Analtycs
<% end %>

<h4>
<%= link_to 'Courses', courses_path %> \
<%= link_to course_path(@course) do %>
  <div class="fa fa-graduation-cap"></div>
  <%= @course.title %>
<% end %> \
<%= link_to analytics_course_path(@course) do %>
  <div class="fa fa-chart-bar"></div>
  Analtycs
<% end %>

<h4 class="text-center">
  Enrollments per day, quantity
</h4>
<%= line_chart @course.enrollments.group_by_day(:created_at).count %>
<h4 class="text-center">
  Enrollments per day, revenue
</h4>
<%= line_chart @course.enrollments.group_by_day(:created_at).sum(:price) %>
<h4 class="text-center">
  Unique user views (how many unique users viewed the lesson)
</h4>
<%= bar_chart @course.user_lessons.joins(:lesson).group(:'lessons.title').count %>
<h4 class="text-center">
  Impressions per lesson (how many times the lesson was opened)
</h4>
<%= bar_chart @course.user_lessons.joins(:lesson).group(:'lessons.title').sum(:impressions) %>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
