<h4>
<%= link_to 'Courses', courses_path %> \
<%= link_to @course.title, course_path(@course) %> \
Edit Course
</h4>
<br />
<br />

<div class="card">
  <div class="card-header">
    <h1>Editing course</h1>
  </div>
  <div class="card-body">
    <%= render "form", course: @course %>
  </div>
  <div class="card-footer">
    <%= link_to "Show this course", @course %> |
    <%= link_to "Back to courses", courses_path %>
  </div>
</div>
