<% content_for :title do %>
  Website | <%= action_name.humanize %> Courses
<% end %>

<h1><%= action_name.humanize %> Courses: <%#= @courses.count %></h1>

<div class="d-flex-table p-2 justify-content-center">
  <%= search_form_for @ransack_courses, as: :courses_search, url: @ransack_path do |form| %>
    <div class="row">
      <div class="col"><%= form.search_field :title_cont, placeholder: "Title", class: 'form-control form-control-sm' %></div>
      <div class="col"><%= form.search_field :description_cont, placeholder: "Description", class: 'form-control form-control-sm' %></div>
      <div class="col"><%= form.search_field :price_eq, placeholder: "Price", class: 'form-control form-control-sm' %></div>
      <div class="col"><%= form.search_field :short_description_cont, placeholder: "Short description", class: 'form-control form-control-sm' %></div>
      <div class="col"><%= form.search_field :course_tags_tag_name_cont, placeholder: "Tag name", class: 'form-control form-control-sm' %></div>
      <div class="col"><%= form.select :language_cont, Course.languages, include_blank: true, class: 'form-control' %></div>
      <div class="col"><%= form.select :level_cont, Course.levels, include_blank: true, class: 'form-control' %></div>
      <div class="col"><%= form.search_field :user_email_cont, placeholder: "Teacher email", class: 'form-control form-control-sm' %></div>
      <div class="col"><%= form.submit "Search", class: "btn btn-primary" %></div>
      <div class="col"><%= link_to "Reset", @ransack_path, class: "btn btn-secondary" %></div>
    </div>
    <div class="row">
      <% @tags.each do |tag| %>
        <div class="col">
          <%= link_to controller: controller_name, action: action_name, courses_search: {course_tags_tag_id_eq: tag.id} do %>
            <div class="badge bg-info">
              <%= tag.name %>
              <span class="badge bg-dark"><%= tag.course_tags_count %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row mt-lg-5">
      <div class="col">
        <%= sort_link(@ransack_courses, :price, 'Price', class: 'btn btn-warning') %>
      </div>
      <div class="col">
        <%= sort_link(@ransack_courses, :average_rating, 'Top rated', class: 'btn btn-warning') %>
      </div>
      <div class="col">
        <%= sort_link(@ransack_courses, :enrollments_count, 'Most popular', class: 'btn btn-warning') %>
      </div>
      <div class="col">
        <%= sort_link(@ransack_courses, :created_at, 'Newest', class: 'btn btn-warning') %>
      </div>
    </div>
  <% end %>
</div>

<br />
<%= link_to "New course", new_course_path, class: "btn btn-success" %>
<br />
<br />
<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= sort_link(@ransack_courses, :id, 'ID') %></th>
      <th><%= sort_link(@ransack_courses, :title, 'Title') %></th>
      <th><%= sort_link(@ransack_courses, :price, 'Price') %></th>
      <th><%= sort_link(@ransack_courses, :short_description, 'Short description') %></th>
      <th><%= sort_link(@ransack_courses, :language, 'Language') %></th>
      <th><%= sort_link(@ransack_courses, :level, 'Level') %></th>
      <th><%= sort_link(@ransack_courses, :user_id, 'User') %></th>
      <th><%= sort_link(@ransack_courses, :created_at, 'Created at') %></th>
      <th><%= sort_link(@ransack_courses, :average_rating, 'Average rating') %></th>
      <th><%= sort_link(@ransack_courses, :enrollments_count, 'Enrollments count') %></th>
      <th><%= sort_link(@ransack_courses, :lessons_count, 'Lessons count') %></th>
      <th><%= 'Course tag' %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.id %></td>
        <td><%= course.title %></td>
        <td><%= number_to_currency(course.price) %></td>
        <td>
          <%= truncate(simple_format(course.short_description), escape: false, length: 50) %>
          <%= link_to 'read more', course %>
        </td>
        <td><%= course.language %></td>
        <td><%= course.level %></td>
        <td><%= course.user.username %></td>
        <td><%= course.created_at.strftime('%d-%b-%Y') %></td>
        <td><%= course.average_rating %></td>
        <td><%= course.enrollments_count %></td>
        <td><%= course.lessons_count %></td>
        <td><div class="badge bg-info"><%= course.tags.map(&:name).join("</div><div class='badge bg-info'>").html_safe %></div></td>
        <td><%= link_to 'Show', course, class: 'btn btn-sm btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
