<% content_for :title do %>
  Website | <%= action_name.humanize %> Courses
<% end %>

<h1><%= action_name.humanize %> Courses: <%#= @courses.count %></h1>

<div class="d-flex-table p-2 justify-content-center">
  <%= search_form_for @ransack_courses, as: :courses_search, url: @ransack_path do |form| %>
    <div class="row mt-lg-5">
      <div class="col">
        <%= sort_link(@ransack_courses, :approved, 'Approved', class: 'btn btn-warning') %>
      </div>
      <div class="col">
        <%= sort_link(@ransack_courses, :published, 'Published', class: 'btn btn-warning') %>
      </div>
    </div>
  <% end %>
</div>
<br />
<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= sort_link(@ransack_courses, :id, 'ID') %></th>
      <th><%= sort_link(@ransack_courses, :title, 'Title') %></th>
      <th><%= sort_link(@ransack_courses, :price, 'Price') %></th>
      <th><%= sort_link(@ransack_courses, :user_id, 'User') %></th>
      <th><%= sort_link(@ransack_courses, :created_at, 'Created at') %></th>
      <th><%= sort_link(@ransack_courses, :enrollments_count, 'Enrollments count') %></th>
      <th><%= sort_link(@ransack_courses, :lessons_count, 'Lessons count') %></th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.id %></td>
        <td><%= course.title %></td>
        <td><%= number_to_currency(course.price) %></td>
        <td><%= course.user.username %></td>
        <td><%= course.created_at.strftime('%d-%b-%Y') %></td>
        <td><%= course.enrollments_count %></td>
        <td><%= course.lessons_count %></td>
        <td>
          <%= course.published? ? "<div class=\"badge bg-success\">published</div>".html_safe : "<div class=\"badge bg-danger\">unpublished</div>".html_safe %>
          <%= course.approved? ? "<div class=\"badge bg-success\">approved</div>".html_safe : "<div class=\"badge bg-danger\">unapproved</div>".html_safe %>
        </td>
        <td>
          <div class="btn-group m-2">
          <%= link_to 'Show', course, class: 'btn btn-sm btn-primary' %>
          <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning' %>
          <% if course.published? %>
            <%= button_to 'unpublish', unpublish_course_path(course), method: :patch, class: 'btn btn-sm btn-danger' %>
          <% else %>
            <%= button_to 'publish', publish_course_path(course), method: :patch, class: 'btn btn-sm btn-success' %>
          <% end %>
          <br />
          <% if course.approved? %>
            <%= button_to 'unapprove', unapprove_course_path(course), method: :patch, class: 'btn btn-sm btn-danger' %>
          <% else %>
            <%= button_to 'approve', approve_course_path(course), method: :patch, class: 'btn btn-sm btn-success' %>
          <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
