<h1>Courses: <%= @courses.count %></h1>

<div class="d-flex-table p-2 justify-content-center">
  <%= search_form_for @ransack_courses, as: :courses_search, url: courses_path do |form| %>
    <%= form.search_field :title_cont, placeholder: "Title" %>
    <%= form.search_field :description_cont, placeholder: "Description" %>
    <%= form.search_field :price_eq, placeholder: "Price" %>
    <%= form.search_field :short_description_cont, placeholder: "Short description" %>
    <%= form.select :language_cont, Course.languages, include_blank: true %>
    <%= form.select :level_cont, Course.levels, include_blank: true %>
    <%= form.submit "Search", class: "btn btn-primary" %>
    <%= link_to "Reset", courses_path, class: "btn btn-secondary" %>
  <% end %>
</div>

<br /><%= link_to "New course", new_course_path, class: "btn btn-success" %><br /><br />

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= sort_link(@ransack_courses, :id, 'ID') %></th>
      <th><%= sort_link(@ransack_courses, :title, 'Title') %></th>
      <th><%= sort_link(@ransack_courses, :price, 'Price') %></th>
      <th><%= sort_link(@ransack_courses, :short_description, 'Short description') %></th>
      <th><%= sort_link(@ransack_courses, :language, 'Language') %></th>
      <th><%= sort_link(@ransack_courses, :level, 'Level') %></th>
      <th><%= sort_link(@ransack_courses, :user_id, 'User') %></th>
      <th><%= sort_link(@ransack_courses, :created_at, 'Created at') %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.id %></td>
        <td><%= course.title %></td>
        <td><%= number_to_currency(course.price) %></td>
        <td><%= simple_format(course.short_description) %></td>
        <td><%= course.language %></td>
        <td><%= course.level %></td>
        <td><%= course.user.username %></td>
        <td><%= course.created_at.strftime('%d-%b-%Y') %></td>
        <td>
          <%= link_to 'Show', course, class: 'btn btn-sm btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--
<div id="courses">
  <% @courses.each do |course| %>
    <%#= render course %>
    <br />
  <% end %>
</div>-->
