<% content_for :title do %>
  Website | <%= @course.title %>
<% end %>

<h4><%= link_to 'Courses', courses_path, class: 'text-decoration-none' %> \ <%= @course.title %></h4>
<br />
<div class="row">
  <div class="col-lg-6">
    <%= render 'courses/course', course: @course %>
  </div>
  <div class="col-lg-6 d-grid gap-2 mt-2">
    <% if policy(@lessons).new? %>
      <%= link_to 'Add Lesson', new_course_lesson_path(@course, @lesson), class: 'btn btn-primary btn-sm' %>
    <% end %>
    <div class="d-flex justify-content-center mt-4">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
    <% @lessons.each do |lesson| %>
      <%= render 'lessons/lesson_in_course_page', lesson: lesson %>
    <% end %>
  </div>
</div>
