<% content_for :title do %>
  Website | <%= @course.title %>
<% end %>

<h4><%= link_to 'Courses', courses_path, class: 'text-decoration-none' %> \ <%= @course.title %></h4>
<br />
<div class="row">
  <div class="col-lg-6">
    <%= render 'courses/course', course: @course %>
  </div>
  <div class="col-lg-6 d-grid gap-2 mt-2">
    <div class="d-flex justify-content-center mt-4">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
    <% @lessons.each do |lesson| %>
      <%= render 'lessons/lesson_preview', lesson: lesson %>
    <% end %>
  </div>
</div>
<div class="row mt-4">
  <h4>Review: <%= @enrollments_with_review.count %></h4>
  <% @enrollments_with_review.each do |enrollment| %>
    <%= render 'enrollments/enrollment', enrollment: enrollment %>
  <% end %>
</div>
<br />
<br />
