<div class="card">
  <div class="progress">
    <div class="progress-bar" style="width: <%= @progress %>%">
</div>
  </div>
  <div class="card-header">
    <h5>
      <%= wizard_steps.index(step) + 1 %> \
      <%= wizard_steps.count %>
      <%= step.to_s.humanize %>
    </h5>
  </div>
  <div class="card-body">
    <%= @course.title %>
  </div>
  <div class="card-footer">
    <div class="float-start">
      <%= link_to previous_wizard_path, class: 'btn btn-sm btn-info' do %>
        <div class="fa fa-arrow-left"></div>
        Previous
      <% end %>
    </div>
    <div class="float-end">
      <%= link_to next_wizard_path, class: 'btn btn-sm btn-info' do %>
        <div class="fa fa-arrow-right"></div>
        Skip
      <% end %>
    </div>
  </div>
</div>

