<div class="card">
  <div class="progress">
    <div class="progress-bar" style="width: <%= @progress %>%"></div>
  </div>
  <div class="card-header">
    <h5>
      <%= wizard_steps.index(step) + 1 %> /
      <%= wizard_steps.count %>
      <%= step.to_s.humanize %>
    </h5>
  </div>
  <div class="card-body">
    <%= simple_form_for @course, url: course_course_wizard_path, method: :put do |f| %>
      <%= f.input :level, collection: Course.levels, include_blank: true, as: :radio_buttons %>
      <%= f.input :price, collection: [0, 9, 19, 49, 99, 149, 199], as: :radio_buttons %>
      <%= f.input :published %>
      <%= f.label :tags %>
      <%= f.select :tag_ids, @tags.all.pluck(:name, :id), {}, { multiple: true, class: "selectize-tags" } %>
      <%= f.button :submit %>
    <% end %>
  </div>
  <div class="card-footer">
    <div class="float-start">
      <%= link_to previous_wizard_path, class: 'btn btn-sm btn-info' do %>
        <div class="fa fa-arrow-left"></div>
        Previous
      <% end %>
    </div>
    <div class="float-end">
      <%= link_to next_wizard_path, class: 'btn btn-sm btn-info' do %>
        <div class="fa fa-arrow-right"></div>
        Skip
      <% end %>
    </div>
  </div>
</div>

