<div class="card">
  <div class="progress">
    <div class="progress-bar" style="width: <%= @progress %>%"></div>
  </div>
  <div class="card-header">
    <h5>
      <%= wizard_steps.index(step) + 1 %> /
      <%= wizard_steps.count %>
      <%= step.to_s.humanize %>
    </h5>
  </div>
  <div class="card-body">
    <%= simple_form_for @course, url: course_course_wizard_path, method: :put do |form| %>
      <div class="d-grid gap-2 mt-3">
        <%= form.error_notification %>
        <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

        <%= form.select :tag_ids, @tags.all.pluck(:name, :id), {}, { multiple: true, class: "form-control" } %>
        <%= form.label :level %>
        <%= form.collection_select :level, Course.levels, :to_s, :to_s, include_blank: true, class: "form-control" %>
        <small><%= form.error :level, class: 'text-danger' %></small>
        <%= form.label :price %>
        <%= form.number_field :price, class: "form-control", min: 0, max: 1000, step: 0.01 %>
        <small><%= form.error :price, class: 'text-danger' %></small>
        <%= form.input :published, as: :boolean, label: "Publish" %>
        <%= form.button :submit, class: "btn btn-primary ax-2" %>
      </div>
    <% end %>

  </div>
  <div class="card-footer">
    <div class="float-start">
      <%= link_to previous_wizard_path, class: 'btn btn-sm btn-info' do %>
        <div class="fa fa-arrow-left"></div>
        Previous
      <% end %>
    </div>
    <div class="float-end">
      <%= link_to next_wizard_path, class: 'btn btn-sm btn-info' do %>
        <div class="fa fa-arrow-right"></div>
        Skip
      <% end %>
    </div>
  </div>
</div>
