<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <%= image_tag "logo.png", size: "50x50", alt: "logo" %>
  <div class="fa fa-graduation-cap"></div>
    <%= link_to "Test Gems", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= link_to "Home", root_path, class: "nav-item nav-link" %>
        <%= link_to "Privacy", privacy_path, class: "nav-item nav-link" %>
        <%= link_to "Courses", courses_path, class: "nav-item nav-link" %>
        <%= link_to "Users", users_path, class: "nav-item nav-link" %>
        <%= link_to "Enrollments", enrollments_path, class: "nav-item nav-link" %>
      </ul>

      <% if user_signed_in? %>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <%= search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f| %>
            <%= f.search_field :title_or_short_description_cont, placeholder: "Search Courses" %>
            <%= f.submit ">>" , class: "btn btn-primary" %>
          <% end %>
        </ul>
        <!-- search form

        <ul></ul>

        <ul class="navbar-nav mb-2 mb-lg-0">
          <%= search_form_for @ransack_users, as: :users_search, url: users_path do |f| %>
            <%= f.search_field :email_cont, placeholder: "Search Users" %>
            <%= f.submit ">>" , class: "btn btn-primary" %>
          <% end %>
        </ul>
      -->
        <ul class="navbar-nav mb-2 mb-lg-0">
          <%= link_to "My profile", user_path(current_user), class: "nav-item nav-link" %>
          <%= link_to "Account settings(#{current_user.username})", edit_user_registration_path, class: "nav-item nav-link" %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>

        <% else %>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <%= link_to "Sign up with Google", user_google_oauth2_omniauth_authorize_path, class: "nav-item nav-link", method: :post %>
          <%= link_to "Sign up", new_user_registration_path, class: "lm-2 nav-item nav-link" %>
          <%= link_to " Login", new_user_session_path, class: "nav-item nav-link" %>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
