<!DOCTYPE html>
<html>
  <head>
    <title>TestGems</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/notifications" %>
  <div class="container"><br />
    <%= yield %>
  </div>
    <%= render "layouts/footer" %>
  </body>
</html>
