<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : "Website" %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/9f14ba6cba.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- use this line below if gem 'chartkick' is not working properly -->
    <%#= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/notifications" %>
    <div class="container"><br />
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
